@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

p {
    font-size: 12px;
}

h3 {
    font-size: 24px;
}

header {
    background-color: #EAC926;
}

.burger-menu {
    color: #03264C;
}

.precio {
    font-size: 18px;
}

.descuento {
    font-size: 16px;
}

.descripciones {
    font-size: 16px;;
}

/* Secciones a poner estilo: navbar, login bar, search bar.

Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

Tipografia
Roboto

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px