@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

p {
    font-size: 12px;
}

h3 {
    font-size: 24px;
    color: #666
}

header {
    background-color: #EAC926;
}

main {
    width: 90%;
}

article {
    margin-bottom: 10px;
    text-align: center;
}

.product-detail i {
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #39b54a;
    display: flex;
    align-items: center;
    text-align: left;
    color: #39b54a;
}

footer {
    background-color: white;
    text-align: center;
    color:  #666; 
}

.navbar {
    list-style: none;
    padding: 0;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.product-detail {
    width: 102%;
    text-align: center;
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding: 15px;
}

.precio {
    line-height: 1px;
    text-align: left;
    font-size: 18px;
}

.descuento {
    line-height: 1px;
    text-align: left;
    color: #39b54a;
    font-size: 16px;
}

.descripciones {
    color: #666;
    text-align: left;
    font-size: 16px;
}

.footer {
    text-align: center;
}

#burger-menu {
    background-color: #1259c3;
    text-align: center;
    align-items: center;
    color: white;  
    border-radius: 8px;
    font-size: 24px;
}

#burger-menu-cont {
    text-align: center;
}

#cuotas {
    text-align: center;
    align-items: center;
}

#icon-ft {
    color: #1259c3;
}

/* Secciones a poner estilo: navbar, login bar, search bar.

Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

Tipografia
Roboto

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px