/*Estilo general*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

main {
    width: 90%;
    margin: 0 auto;
}

p {
    font-size: 12px;
}

/*Header*/

header {
    background-color: #EAC926;
    width: 100%;
    margin: auto;
}

div.top-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
}

header div.logo {
    width: 44%;
    padding: 10px;
}

form.search {
    padding: 10px;  
    width: 44%;
}

#cuotas {
    margin-top: 5px;
    text-align: center;
    align-items: center;
}

.navbar {
    list-style: none;
    padding: 0;
    display: none;
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

#burger-menu {
    display: flex;
    justify-content: center;
}

#burger-menu i {
    background-color: #1259c3;
    justify-content: center;
    text-align: center;
    display: flex;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    height: 30px;
    width: 30px;
    margin: 10px 0px 10px 0px;
    padding: 5px;
}

section.banner img {
    width: 100%;
}

/*Products*/

main h3 {
    font-size: 24px;
    color: #666;
    text-align: left;
    margin: 10px 0px 10px;
}

section.products {
    display: flex;
    flex-direction: column;
}

main section img {
    width: 100%;
    margin: 0px;
}

div.product-box {
    width: 100%;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
}

div.product-detail {
    width: 100%;
    text-align: center;
    border-top: 2px solid #ebebeb;
    background-color: white;
    margin-top: 0px;
    display: none;
    position: relative;
}

div.product-detail i {
    display: block;
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.precio {
    text-align: left;
    font-size: 18px;
}

.descuento {
    text-align: left;
    color: #39b54a;
    font-size: 16px;
}

.descripciones {
    color: #666;
    text-align: left;
    font-size: 16px;
}

/*Footer*/

footer {
    background-color: white;
    text-align: center;
    color: #666;
}

#icon-ft {
    color: #1259c3;
}

/*Breakpoints*/
@media (min-width: 361px) {
    .navbar {
        list-style: none;
        padding: 0;
        display: block;
    }

    #burger-menu {
        text-align: center;
        display: none;
    }

    section.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    div.product-box {
        display: block;
        width: 45%;
        text-align: center;
        background-color: white;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    div.product-detail {
        width: 100%;
        text-align: center;
        border-top: 2px solid #ebebeb;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        padding: 2%;
    }

    .precio {
        width: 50%;
        padding: 3%;
    }

    .descuento {
        width: 50%;
        padding: 3%;
    }

    .descripciones {
        width: 100%;
        padding: 3%;
    }
}

@media (min-width: 769px) {
    .navbar {
        list-style: none;
        padding: 0;
        display: block;
    }

    #burger-menu {
        text-align: center;
        display: none;
    }

    section.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    div.product-box {
        width: 22%;
        text-align: center;
        background-color: white;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }    

    div.product-detail {
        display: flex;
        width: 100%;
        text-align: center;
        border-top: 2px solid #ebebeb;
        background-color: white;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    .precio {
        width: 50%;
        padding: 5%;
    }

    .descuento {
        width: 50%;
        padding: 5%;
    }

    .descripciones {
        width: 100%;
        padding: 4%;
    }
}


/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;